body {
    background-image: url('../img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

a {
    text-decoration: none;
}

.element {
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    font-size: 18px;
    font-family: monospace;
}

.element:hover {
    transform: scale(1.2);
}

.for-card {
    background-color: rgba(219, 218, 212, 255);
    font-family: cursive;
    border-color: rgb(29, 30, 70);
    border-width: 3px;
}
.for-button:hover{
    background-color: green;
}
.for_text{
    width: 50%;
    height: 50px;
    font-family:cursive;
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:50px;
}
.sub:hover{
    color: green;
}
.remove-btn{
    margin-right: 10px;
    margin-bottom: 10px;
}
.for-admin{
    margin-top: 5px;
    margin-left: 5px;
}
.inner-card{
    margin: 15px 15px 15px 15px; 
    background-color: white;
    border-radius: 5px;
}
